<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body ng-app="discipline-app">
    <style>
[ng-cloak] { display: none }
    </style>

    <responsive-child>
      <main class="interactive">
        <section class="sor-table" ng-controller="table-controller" ng-cloak>

          <h2>Discipline rates by district</h2>
          
          <div class="table-note">
            View the top 10 districts by discipline rate and ethnic group for the 2013-2014 school year. Only schools with more than 3,000 total students are shown.
          </div>
          <div class="table-controls">
            Show: <select ng-model="tableFilter" class="regular">
              <option ng-repeat="d in demographics" value="{{d.data}}">{{d.label}} students</option>
            </select>
          </div>

          <table class="top-table">
            <thead>
              <tr>
                <th class="rank">
                <th class="district">District
                <th class="county">County
                <th class="rate numeric">Rate
                <th class="total numeric">Students (all)
                <th class="pop numeric">Students ({{labels[tableFilter]}})
                <th class="disciplined numeric">Disciplined
            <tbody>
              <tr ng-repeat="row in tableData | limitTo:10">
                <td class="rank">{{$index + 1}}
                <td class="district">{{row.district}}
                <td class="county">{{row.county}}
                <td class="rate numeric">{{row[tableFilter + "_rate"] * 100 | number:1}}%
                <td class="total numeric">{{row.population | number}}
                <td class="pop numeric">{{row[tableFilter + "_pop"] | number}}
                <td class="disciplined numeric">{{row[tableFilter + "_d"] | number}}
          </table>

          <%= t.include("_source.html") %>

        </section>
      </main>
    </responsive-child>
 
    <script>
window.discipline = <%= JSON.stringify(csv.discipline) %>;
    </script>

    <script src="../app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
