* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";
@import "districtSelector";
@import "ratioChart";

body {
  max-width: 620px;
  margin: auto;
  font-size: 17px;
}

.chatter {
  margin: 10px 0;
  font-style: italic;
  font-size: 14px;
}

main.interactive {
  padding: 10px 4px;
  border-top: 1px solid @df-light-gray;
  border-bottom: 1px solid @df-light-gray;
  background: linear-gradient(to bottom, rgb(250, 250, 250) 0px, white 30px);
}

.mutates {
  background: lighten(@df-goldenrod, 40%);
  padding: 0 4px;
}

.pick-district {
  width: 150px;
}

select.pick-baseline {
  border: none;
  border-bottom: 1px dotted black;
  background: white;
  font-size: inherit;
  font-family: @df-serif;
  text-align: center;
}

.compare-row {
  .display-flex;
  .flex-wrap(wrap);
  overflow: hidden;
  text-align: center;
  margin: 12px 0;

  .demographic {
    .flex(1);
    min-width: 25%;
    padding: 12px 12px;
    font-size: 15px;

    @media @mobile {
      min-width: 50%;
    }

    h3 {
      margin: 0;
    }

    .relative-rate {
      font-size: 28px;

      &.high {
        font-weight: bold;
      }
    }

    .rate {
      font-size: 28px;
    }

    .no-data {
      font-size: 16px;
      padding: 28px 0;
    }
  }
}

.compare-key {
  text-align: center;
  .display-flex;
  .justify-content(space-around);
  .flex-wrap(wrap);
  font-size: 14px;

  .spot {
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    border-radius: 100%;

    &.focus {
      background: @st-dark-purple;
    }

    &.base {
      border: 1px solid #CCC;
      background: #CCC;
    }
  }
}

.no-data {
  text-align: center;
  font-size: 28px;
}

.top-table {
  font-family: @df-sans;
  font-size: 13px;
  width: 100%;

  td, th {
    text-align: left;
    vertical-align: bottom;

    &.numeric {
      text-align: right;
    }
  }
}

.source {
  font-size: 12px;
  padding: 10px 0;
}

.credit {
  font-size: 12px;
  text-align: right;
  display: block;
}