<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body ng-app="discipline-app">
    <style>
[ng-cloak] { display: none }
    </style>

    <responsive-child>
      <main class="interactive">
        <h2>Different rates for different races</h2>
        <section class="chatter">
          Click the underlined terms to update this interactive.
        </section>
        <section class="reactive-doc" ng-controller="discipline-controller" ng-cloak>
          
          Black, white, Asian and Hispanic students are disciplined at widely different rates. In 
            <type-select options="districts" model="district"></type-select>
          schools, 
          <span ng-if="relativeRates.length">
              <select ng-model="$parent.baseline" class="pick-baseline">
                <option ng-repeat="d in exclusive" value="{{d.data}}">{{d.label}}</option>
              </select>
            students were generally <span class="mutates">{{selectedIsHigher ? "more" : "less"}}</span> likely to have been suspended or expelled than those from other ethnic groups.
          </span>
          <span ng-if="relativeRates.length == 0">
            the state has not released enough data to be sure about relative discipline rates.
          </span>

          <div class="compare-row">
            <div ng-repeat="demo in relativeRates" class="demographic">
              <h3>{{demo.label}}<br>students</h3>
              <div class="relative-text" ng-if="getRelative(demo.data) >= 0">
                Suspended or expelled
                <ratio-chart ratio="getRelative(demo.data)"></ratio-chart>
                <div class="relative-rate" ng-class="{ high: getRelative(demo.data) > 2 }">
                  {{getRelative(demo.data) * 100 | number:1}}%
                </div>
                as much as {{baseLabel}} students
              </div>
              <div class="no-data" ng-if="getRelative(demo.data) === null">
                No data for this district
              </div>
            </div>
          </div>
          <div class="compare-key" ng-if="relativeRates.length">
            <div><span class="focus spot"></span> Suspended or expelled</div>
            <div><span class="base spot"></span> Baseline rate</div>
          </div>
          <div class="no-data" ng-if="relativeRates.length == 0">
            No demographic data for this district
          </div>

          <p>
            There were <span class="mutates">{{selected.population | number}}</span> students in 
              <type-select options="districts" model="district"></type-select>
            schools in the 2013-2014 school year. Of those, <span class="mutates">{{selected.disciplined | number}}</span> were suspended or expelled (<span class="mutates">{{selected.disciplined / selected.population * 100 | number:1}}%</span>). Beyond the racial breakdown, special-needs students and those from low-income families are suspended at rates that far surpass others.

          <div class="compare-row">
            <div ng-repeat="demo in demographics" class="demographic">
              <h3>{{demo.label}}</h3>
              <div class="rate-text" ng-if="getRate(demo.data) !== null">
                <div class="rate">
                  {{getRate(demo.data) * 100 | number:1}}% <pie-chart percentage="getRate(demo.data)"></pie-chart>
                </div>
                <b>{{selected[demo.data + "_d"] | number}}</b> suspensions or expulsions, out of
                <b>{{selected[demo.data + "_pop"] | number}}</b> {{demo.label}} students
              </div>
              <div class="no-data" ng-if="getRate(demo.data) === null">
                No data for this district.
              </div>
            </div>
          </div>

          <%= t.include("_source.html") %>

        </section>
      </main>
    </responsive-child>
 
    <script>
window.discipline = <%= JSON.stringify(csv.discipline) %>;
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
