<%
csv.discipline.sort(function(a, b) {
  if (a.district < b.district) return -1;
  if (b.district < a.district) return 1;
  return 0;
});
grunt.data.counter = 0;
%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body ng-app="discipline-app">
    <style>
[ng-cloak] { display: none }
    </style>

    <responsive-child>
      <h2>An Uneven Playing Field</h2>
      <section class="chatter">
      </section>
      <section class="interactive" ng-controller="discipline-controller" ng-cloak>
        
        In 
          <type-select options="districts" model="district"></type-select>
        schools, compared to
          <select ng-model="baseline" class="pick-baseline">
            <option ng-repeat="d in exclusive" value="{{d.data}}">{{d.label}}</option>
          </select>
        students, other groups are generally <span class="mutates">{{selectedIsHigher ? "less" : "more"}}</span> likely to have been suspended from school.

        <div class="compare-row">
          <div ng-repeat="demo in relativeRates" class="demographic">
            <div class="circle-container">
              <div class="ratio" ng-style="{
                padding: getArea(demo.data) * 40 + 'px'
              }"></div>
              <div class="baseline"></div>
            </div>
            <h3>{{demo.label}} students</h3>
            <div class="relative-text">
              Suspended or expelled
              <div class="relative-rate" ng-class="{ high: getRelative(demo.data) > 2 }">
                {{getRelative(demo.data) * 100 | number:1}}%
              </div>
              as much as {{baseLabel}} students
            </div>
          </div>
        </div>

        <p>
          There are {{selected.population | number}} students in 
            
          schools. {{selected.disciplined | number}} were suspended in 201X ({{selected.disciplined / selected.population * 100 | number:1}}%). Totals within different demographics, however, may differ widely.

        <div class="compare-row">
          <div ng-repeat="demo in demographics" class="demographic">
            <h3>{{demo.label}}</h3>
            <div class="rate-text">
              <div class="rate">
                {{getRate(demo.data) * 100 | number:1}}%
              </div>
              <b>{{selected[demo.data + "_d"] | number}}</b> suspensions/expulsions for
              <b>{{selected[demo.data + "_pop"] | number}}</b> students
            </div>
          </div>
        </div>

      </section>
    </responsive-child>
 
    <script>
window.discipline = <%= JSON.stringify(csv.discipline) %>;
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
